run = "cd apps/api && npm install && npm run build && npm run start:prod"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "cd apps/api && npm install && npm run build && npm run start:prod"]
